<div>
    <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="stockChartOptions"></highcharts-chart> -->
    <!-- <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="threeDChartOptions"
    style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>
    <br /> -->
    <div class="d-flex flex flex-row gap-2">
        <!-- <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="threeDChartOptions"
        style="width: 50%; height: 400px;"
        ></highcharts-chart> -->
    
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="height: 400px;"
        ></highcharts-chart>
    </div>
</div>



