<div class="m-0 p-6 bg-white shadow-lg rounded-xl h-fit md:min-h-[85vh] md:max-h-[85vh] w-full max-w-full overflow-hidden">
  <div class="w-full h-full">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 300%; display: block;"
    ></highcharts-chart>
  </div>
</div>


<!-- 
<div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="stockChartOptions"></highcharts-chart>
    <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="threeDChartOptions"
    style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>
    <br />
    <div class="d-flex flex flex-row gap-2">
        <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="threeDChartOptions"
        style="width: 50%; height: 400px;"
        ></highcharts-chart>
    
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="height: 400px; width: 100%;"
        ></highcharts-chart>
    </div>
</div>
-->
